.banner9{height:366px;width:100%;}
.banner9 img{height:100%;width:100%;}

.pic_content{height:970px;width:1190px;margin:0 auto;}
.pic_content .con_left{float:left;height:970px;width:880px; }
.pic_content .con_left .list{float:left;height:315px;width:862px; padding:0 5px; margin-top:80px;}
.pic_content .con_left .pic{float:left;height:314px;width:187px;border-bottom:1px solid #d9d9d9;margin:0 13px;margin-bottom: 60px;}
.pic_content .con_left .list a img{float:left;height:256px;width:187px;}
.pic_content .con_left .list a u{float:left;height:40px;width:100%;margin-top:18px;line-height:40px;font-size:14px;text-align:center;}
.pic_content .con_left .pager{float:left;height:40px;width:100%;margin:60px auto;text-align:center;}
.pic_content .con_left .pager span{display:inline-block;height:38px;width:38px;line-height:38px;text-align:center;border:1px solid #d9d9d9;margin-right:5px;cursor:pointer;}
.pic_content .con_left .pager .active{background:#1b6d85;color:#fff;}

.pic_content .con_right .btn_select{margin:75px 0 0 45px;height:45px;width:220px;}
.pic_content .con_right .btn_select .btn{float:left;height:100%;width:100%;background:#066f39; position:absolute;text-align:left;font-size:16px;color:#fff;}
.pic_content .con_right .btn_select .dropdown-menu{width:220px;height:auto;}
.pic_content .con_right .btn_select .dropdown-menu li{height:36px;border-bottom:1px solid #d9d9d9;}
.pic_content .con_right .btn_select .dropdown-menu .last{border:0;}

