html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img {border:0; }
img{display: block;}
ul, ol { list-style:none; }
body {width:100%;font-family: "Microsoft yahei"; color:#666;font-size:14px;}
button{border:none; outline: none;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
input{outline:none;border:none;}
a{text-decoration:none; color:#666;}
.main{width:1200px;padding:0 31px 0 32px; margin:0 auto;}
.clearfix:after{content: "."; clear:both; display:block; height:0; overflow:hidden; visibility: hidden; }
.container{width:100%;border-bottom:1px solid #d9d9d9;padding:0;margin:0;}
.cleanBottom{border:0;}


/*header*/
#header{width:1190px;margin:0 auto;height:144px;}
#header h1{float:left;height:100%;width:185px;}
#header h1 a{float:left;height:60px;width:100%;margin-top:42px;}
#header h1 a img{height:100%;width:100%;}
#header .headerRight{float:right;height:73px;width:649px;padding:29px 0 42px 0;}
#header .headerRight .links{float:right;height:14px;line-height:14px;margin-bottom:34px;}
#header .headerRight .links a{float:left;height:14px;margin-right:25px;}
#header .headerRight .down{float:left;height:30px;line-height:30px;width:600px; padding-right:48px;}
#header .headerRight .down .downLeft{float:left;height:30px;width:345px;font-size:16px;}
#header .headerRight .down .downLeft a{float:left;height:30px;width:172px;line-height:30px;text-align:center;}
#header .headerRight .down .downLeft .txt1{border-right:1px solid #d9d9d9;}
#header .headerRight .down .downRight{float:right;}
#header .headerRight .down .downRight input{float:left;height:28px;width:142px;padding:0 15px;line-height:28px;border:1px solid #d9d9d9;border-radius: 15px;margin-right:10px;}
#header .headerRight .down .downRight button{float:left;height:23px;width:23px;margin-top:3px;border:none;outline:none;background:url("../images/search.png") no-repeat left top;}

#banner{height:652px;width:100%;}
#banner .swiper-slide{height:100%;width:100%;}
#banner .swiper-slide img{height:100%;width:100%;}

.con_about{background:#f9f9f9;}
#content{height:auto;width:1190px;margin:0 auto;}
#content .about{height:583px; width:1148px; padding:82px 0 85px 42px;font-size:20px;}
#content .about .about_title{float:left;line-height:36px;}
#content .about .about_img{height:249px;width:765px;float:left;margin:35px 0 40px 0;}
#content .about .about_txt{float:left;height:130px; width:650px;line-height:36px;}
#content .about i{float:left;width:100%;margin-top:30px;text-decoration: underline;color:#066f39;}

.special{border-top:1px solid #d9d9d9;margin-top:78px;}
#ceramics{min-height:508px;width:1190px;margin:0 auto;}
#ceramics .left{float:left;min-height:446px;width:240px;border-right:1px solid #d9d9d9;padding:62px 42px 0 18px;}
#ceramics .left h3{height:30px;line-height:30px;font-size:30px;text-align:left;margin-bottom:50px;color:#066f39;}
#ceramics .left p{line-height:32px;font-size:16px;}
#ceramics .right{min-height:448px;float:left;width:777px; padding:60px 12px 0 100px; }
#ceramics .right a{float:left;width:196px; margin-right:55px;margin-bottom:45px;height:142px;}
#ceramics .right a img{height:106px;width:196px;margin-bottom:16px;}
#ceramics .right a  span{display:block;height:16px;width:100%;line-height:16px;font-size:16px;text-align:center;}

#Sanitary{min-height:714px;width:1190px;margin:0 auto;}
#Sanitary .left{float:left;min-height:604px;width:260px;padding:110px 22px 0 18px;border-right:1px solid #d9d9d9;}
#Sanitary .left h3{height:30px;line-height:30px;font-size:30px;text-align:left;margin-bottom:50px;color:#066f39;}
#Sanitary .left p{line-height:32px;font-size:16px;}
#Sanitary .right{float:left;min-height:615px;width:749px;padding:100px 50px 0 90px;}
#Sanitary .right a{float:left;height:142px;width:160px;margin-bottom:40px;margin-right:70px;text-align:center;}
#Sanitary .right a img{width:133px;height:102px;margin:0 auto;margin-bottom:24px;}
#Sanitary .right a span{display:block;height:16px;width:160px;text-align:center;line-height:16px;font-size:16px;}










#Footer{height:400px;width:1190px;margin:0 auto;}
#Footer .top{padding:125px 0;}
#Footer .top p {text-align:center;height:72px;line-height:28px;}
#Footer .top .commit{height:38px;margin-top:40px;text-align:center;color:#066f39}
#Footer .top .commit a{display:inline-block;height:38px;width:268px;padding-left:48px;line-height:38px;font-size:24px;color:#066f39}
#Footer .top .commit .link1{margin-right:130px;background:url("../images/email.png") no-repeat left top;}
#Footer .top .commit .link2{background:url("../images/Skype.png") no-repeat left top;}
#Footer .links{height:372px;width:1104px;padding:46px 54px 0 32px; margin:0 auto;border-top:1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;}
#Footer .links .title{height:20px;width:850px;line-height:20px;font-size:20px;margin-bottom:30px;}
#Footer .links .title span{float:left;margin-right:120px;}
#Footer .links ul{height:322px;width:130px;float:left;margin-right:80px;}
#Footer .links ul li{float:left;width:100%;height:14px;line-height:14px;margin-top:20px;}
#Footer .links .list2{margin-right:120px;}
#Footer .links ._img{float:right;margin-top:-50px;}
#Footer .footer_down{height:30px;line-height:30px;margin:0 auto;margin-top:15px; margin-bottom:30px;padding:0 16px;width:1158px; position:relative;}
#Footer .footer_down .txt{position:absolute;left:20px;top:0;height:30px;line-height:30px;}
#Footer .footer_down .outlink{float:right;height:30px;width:190px;}
#Footer .footer_down .outlink span{float:left;height:30px;line-height:30px;margin-right:18px;}
#Footer .footer_down .outlink a{float:left;height:30px;width:102px;background:url("../images/outlink.png") no-repeat left top;}

