#banner{height:366px;width:100%;}
#banner .swiper-slider{height:100%;width:100%;}
#banner .swiper-slider img{height:100%;width:100%;}

.news_content{height:1230px;width:1175px;margin:0 auto;padding:15px; padding-left:0;}
.news_content .conLeft{float:left;height:1230px;width:860px;}
.news_content .con_left{float:left;height:350px;width:870px;border-bottom:1px dashed #d9d9d9;padding-left:15px; }
.news_content .con_left ._img{float:left;margin:60px 35px 70px 0;height:220px;width:322px;}
.news_content .con_left ._img img{height:220px;width:322px;}
.news_content .con_txt{float:left;height:235px;margin-top:60px;width:486px;position:relative;}
.news_content .con_txt .top{height:75px;width:100%;}
.news_content .con_txt .top .title{height:50px;line-height:50px;text-align:left;font-size:18px;color:#4fb4c8;}
.news_content .con_txt .top .time{display:block;height:12px;line-height:12px;margin-top:5px;}
.news_content .con_txt .middle{line-height:22px;}
.news_content .con_txt .outlink{position:absolute;left:0;bottom:0;font-size:18px;color:#4fb4c8;}
.news_content .conLeft .pager{float:left;height:42px;padding:65px 0;text-align:center;width:100%;}
.news_content .conLeft .pager span{display:inline-block;height:40px;width:40px;margin-right:5px;border:1px solid #d9d9d9;line-height:40px;text-align:center;cursor: pointer;}
.news_content .conLeft .pager .active{background:#1b6d85;color:#fff;}
.news_content .con_right{float:right;height:100%;width:280px;}
.news_content .con_right .btn_select{margin:75px 0 0 45px;height:45px;width:220px;}
.news_content .con_right .btn_select .btn{float:left;height:100%;width:100%;background:#4fb4c8; position:absolute;text-align:left;font-size:16px;color:#fff;}
.news_content .con_right .btn_select .dropdown-menu{width:220px;height:auto;}
.news_content .con_right .btn_select .dropdown-menu li{height:36px;border-bottom:1px solid #d9d9d9;}
.news_content .con_right .btn_select .dropdown-menu .last{border:0;}


.news_content .conLeft .detail{height:1180px;width:100%; position:relative; display:none;}
.news_content .conLeft .detail .top{margin-top:35px;height:105px;width:100%;border-bottom:1px dashed #d9d9d9;margin-bottom:60px;}
.news_content .conLeft .detail .top .title{height:50px;line-height:50px;text-align:left;font-size:18px;color:#4fb4c8;}
.news_content .conLeft .detail .top .time{display:block;height:12px;line-height:12px;margin-top:5px;margin-left:15px;}
.news_content .conLeft .detail .detail_txt p{line-height:32px;}
.news_content .conLeft .detail .detail_txt h6{height:14px;line-height:14px;font-size:14px;color:#4fb4c8;margin:35px 0 15px 0}
.news_content .conLeft .detail .btn_back{height:42px;width:135px;border-radius: 5px;background:#4fb4c8;line-height:42px;text-align:center; position:absolute;right:50px;bottom:100px; }
.news_content .conLeft .detail .btn_back a{float:left;height:100%;width:100%;line-height:42px;text-align:center;color:#fff;font-size:18px;}



