.pro_container{width:100%;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;}
.pro_container .wrap{width:1150px;margin:60px auto 100px auto;}
.pro_container .wrap .products_1 .lists ul li a{color:#999;}


.pro_container .wrap ._img{height:350px;width:100%; position:relative;margin-bottom:30px;}
.pro_container .wrap ._img .bg_color{height:282px;width:100%;background:#066e39;position:relative;}
.pro_container .wrap ._img img{height:282px;width:675px;position:absolute;left:238px;bottom:0;}
.pro_container .wrap .products_1 h2{height:78px;line-height:78px;font-size:32px;color:#066f39;border-bottom:1px solid #9d9d9d;border-bottom:25px;}
.pro_container .wrap .products_1 .lists{height:358px;width:100%;}
.pro_container .wrap .products_1 .lists ul{float:left;width:280px;height:180px;}
.pro_container .wrap .products_1 .lists ul li{float:left;height:24px;width:100%;line-height:24px;}
.pro_container .wrap .products_1 .lists .list1{width:280px;}
.pro_container .wrap ._img2 .bg_color{background:#4fb4c8;}
.pro_container .wrap .products_2 .lists{height:320px;}
.pro_container .wrap .products_2 .lists ul{height:180px;width:280px;}
.pro_container .wrap .products_2 .lists .list1{}



