@charset "utf-8";
/* CSS Document */

.aboutbanner{ width:100%; height:150px;}

/*itype*/
.itype{ position:relative; z-index:9999; height:105px;}
.itype ul{ width:1120px;}
.itype ul li{ width:260px; height:105px; position:relative; float:left; margin-right:20px;}
.itypeWrap{ background:#fff; width:260px; height:105px; position:absolute; left:0; bottom:0;}
.itypeWrapHover{ box-shadow:0 0 8px rgba(0,0,0,0.3)}
.itypePic{ width:260px; height:150px; display:none;}
.itypeT{ width:260px; height:65px; position:absolute; left:0; bottom:0; z-index:1; text-align:center;}
.itypeTtip{ color:#888; line-height:22px;}
.itypeTit{ font-size:18px;}
.itypeTit a{ color:#333;}
.itypeTit a:hover{ color:#cf2215; text-decoration:none;}

.itypeIco{ width:260px; height:70px; background:url(../images/itypeIco.png) no-repeat; position:absolute; bottom:70px; left:0; z-index:2;}
.itypeIco1{ background-position:center 0;}
.itypeIco2{ background-position:center -214px;}
.itypeIco3{ background-position:center -429px;}
.itypeIco4{ background-position:center -642px;}
.itypeWrapHover .itypeIco1{ background-position:center -108px;}
.itypeWrapHover .itypeIco2{ background-position:center -322px;}
.itypeWrapHover .itypeIco3{ background-position:center -536px;}
.itypeWrapHover .itypeIco4{ background-position:center -750px;}

.itypeList{ width:260px; text-align:center; line-height:25px; display:none; max-height:145px; position:absolute; left:0; bottom:80px;}
.itpyeMore{ width:150px; height:27px; margin:0 auto; margin-top:18px;}
.itpyeMore a{ width:150px; height:27px; background:#cf2215; border-radius:3px; display:block; color:#fff; line-height:27px; text-align:center;}
.itpyeMore a:hover{ background:#000; color:#fff; text-decoration:none;}

/*hotProduct*/
.hotProduct{ border-bottom:1px solid #ebebeb; padding-bottom:20px; margin-top:20px;}
.hotProductHd{ padding:4px 0 0;}
.hotProductHd a{ background:url(../images/hotProductHdIco.png) no-repeat left top; width:19px; height:19px; display:inline-block; line-height:0; font-size:0; text-indent:-99999px; overflow:hidden;}
.hotProductHd a.prev{ background-position:0 0;}
.hotProductHd a.prev:hover{ background-position:0 -21px;}
.hotProductHd a.next{ background-position:-21px 0;}
.hotProductHd a.next:hover{ background-position:-21px -21px;}
.hotProductTit{ font-size:22px; color:#333;}
.hotProductList{ padding-top:15px; width:1100px; overflow:hidden;}
.hotProductList ul{ width:1200px;}
.hotProductList ul li{ width:260px; height:175px; position:relative; float:left; overflow:hidden; margin-right:20px;}
.hotProductMbg{ background:#000; -moz-opacity:.5;opacity:.5;filter:alpha(opacity = 50); width:260px; height:175px; position:absolute; z-index:1; left:0; top:175px;}
.hotProductMTit{ width:240px; position:absolute; left:10px; z-index:2; display:inline-block; top:175px; color:#fff; font-size:14px; text-align:center; line-height:20px; padding-top:60px;}
.hotProductList ul li a..hotProductList ul li a:hover{ color:#fff; text-decoration:none;}

/*inews*/
.inews{ width:790px; padding-bottom:10px;}
.inewsTit{ font-size:22px; color:#333;}
.inewsList{ padding-top:8px;}
.inewsList ul li{ line-height:36px; border-bottom:1px dotted #d1d1d1; padding:0 4px;}
.inewsList ul li:hover{ background:#f7f7f7;}
.inewsList ul li em{ width:90px; display:inline-block; color:#999;}


/*ibtn*/
.ibtn{ width:240px; padding-top:15px;}
.ibtn a{ width:210px; height:62px; background:url(../images/ibtn.png) no-repeat left top; display:block; overflow:hidden; text-indent:-99999px;}
.ibtn .ibtn1 a{ background-position:0 0;}
.ibtn .ibtn1 a:hover{ background-position:0 -74px;}
.ibtn .ibtn2{ margin-top:10px;}
.ibtn .ibtn2 a{ background-position:0 -148px;}
.ibtn .ibtn2 a:hover{ background-position:0 -222px;}


/*leftnav*/
.leftTit{ text-align:right; border-bottom:1px dotted #bbb; font-size:18px; padding-right:25px; color:#cf2214; padding-bottom:12px; margin-bottom:12px;}
.leftNav{ width:175px;}
.leftNav ul li{ width:175px; height:22px; margin-bottom:6px;}
.leftNav ul li a{ width:148px; height:22px; display:block; line-height:22px; padding-right:28px; text-align:right;}
.leftNav ul li a:hover,.leftNav ul li.cur a{ color:#fff; background:url(../images/leftnav.png) no-repeat right top; text-decoration:none;}

/*rightWrap*/
.rightWrap{ width:860px; background:#fff url(../images/rightWrapBg) no-repeat left top; padding-left:40px; min-height:460px;}
.rightTitle{ font-size:26px; color:#cf2214; padding-bottom:15px;}
.rightContent{ line-height:200%; overflow:hidden;}

/*ipath*/
.ipath{ background:url(../images/ipathico.png) no-repeat left center; padding-left:16px;}

/*listProducts*/
.listProductsTab{ border-bottom:1px dotted #dedede; font-size:16px; color:#999; margin-bottom:15px; padding-bottom:15px; text-align:right;}
.listProductsTab a{ color:#999;}
.listProductsTab a:hover{ color:#cf2215;}
.listProductsTab a.cur{ color:#cf2215;}
.listProductsTab a.cur:hover{ color:#cf2215;}
.listProducts{ width:860px; overflow:hidden;}
.listProducts ul{ width:900px;}
.listProducts ul li{ width:261px; height:171px; float:left; display:inline; margin:0 38px 30px 0;}
.listProductsMain{ width:260px; height:170px; position:relative; overflow:hidden;}
.listProductMainTit{ width:250px; height:26px; position:absolute; display:block; padding:0 5px; left:0; bottom:-26px; line-height:26px; z-index:2;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.listProductMainTit a,.listProductMainTit a:hover{ color:#fff;}
.listProductMainBg{ width:260px; height:26px; display:block; position:absolute; left:0; bottom:-26px; background:#000; -moz-opacity:.5; opacity:.5; filter:alpha(opacity = 50); z-index:1;}

/*honorList*/
.honorList{ width:860px; overflow:hidden;}
.honorList ul{ width:900px;}
.honorList ul li{ width:190px; height:195px; float:left; display:inline; margin:0 33px 30px 0;}
.honorMain{ width:170px; height:175px; padding:8px; border:2px solid #eee;}
.honorMain:hover{ border:2px solid #cf2215;}
.honorMTit{ text-align:center; height:24px; overflow:hidden; line-height:24px; white-space:nowrap; padding:3px 0;}
.honorMTit a{ color:#07c;}
.honorMTit a:hover{ color:#cf2215;}
.honorMInfo{ line-height:18px; color:#888; text-indent:2em;}