@charset "utf-8";
/* CSS Document */
.caselist{}
.caselist li{ line-height:32px; background:url(../images/sys_ico1.jpg) no-repeat 6px center; padding-left:16px; border-bottom:1px dotted #dedede; padding-right:6px;}
.caselist li:hover{}
.caselist li em{ float:right; color:#888; font-style:normal;}
.caselist li a{ color:#0e6a9a;}
.caselist li a:hover{ color:#f60;}


/*分页*/
.pages{ text-align:center; padding:30px 0 20px; line-height:26px;}
.pages a{ line-height:24px; border:1px solid #dedede; display:inline-block; font-size:12px; padding:0 10px; border-radius:3px; text-decoration:none; color:#666;}
.pages a:hover{ background:#f1f1f1; border-color:#bbb; color:#333;}
.pages a.cur{ border:none; padding:1px 11px; color:#f60; font-weight:bold;}
.pages a.cur:hover{ color:#f60; background:none;}

/*内容页显示*/
.sys_nview_title{ font-size:26px; font-family:Tahoma, "微软雅黑", Geneva, sans-serif; font-weight:normal; text-align:center; color:#333; padding-bottom:12px; line-height:150%; padding-top:12px;}
.sys_nview_other{ text-align:center; color:#888; font-family:Verdana, Geneva, sans-serif; border-bottom:1px dotted #dbdbdb; padding-bottom:6px;}
.sys_nview_s{ color:#ccc; font-size:12px; padding:0 6px;}
.sys_nview_des{ border:1px solid #f0f0f0; background:#f7f7f7; padding:8px 12px; line-height:180%; text-indent:2em; margin-top:15px; display:none;}
.sys_nview_content{ padding:15px 12px 20px;}
.sys_nview_content ol,.sys_nview_content ul{ margin-left:15px; list-style:decimal;}
.sys_nview_content li{ list-style:decimal;}
.sys_nview_pn{ border-top:1px dotted #dedede; padding:12px 0; margin-top:12px;}
.sys_nview_pn b{ color:#aaa; font-weight:normal;}
.sys_tab span{ color:#07c; padding-right:8px;}
.sys_relation{ border:1px solid #dedede; margin-top:12px;}
.sys_relation h2{ line-height:36px; padding-left:12px; border-bottom:1px solid #dedede; background:#f1f1f1; font-size:16px; font-family:Tahoma, "微软雅黑", Geneva, sans-serif; color:#333; font-weight:normal;}
.sys_relation ul{ padding:8px 12px; line-height:28px;}
.sys_relation ul li em{ float:right; font-style:normal; color:#888;}

.sysnewslist{}
.sysnewslist ul li{ border-bottom:1px solid #f0f0f0; padding:10px 12px;}
.sysnewslist ul li:hover{ background:#f5f5f5;}
.sysnews_pic{ float:left; margin:0 12px 0 0;}
.sysnews_title{ padding-bottom:6px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.sysnews_title a{ font-size:18px; font-weight:normal; color:#07c;}
.sysnews_title a:hover{ color:#cf2215;}
.sysnews_des{ line-height:20px; color:#777; text-indent:2em;}
.sysnews_other{ text-align:right;}


.downlist{}
.downlist li{ line-height:32px; background:url(../images/sys_ico1.jpg) no-repeat 6px center; padding-left:16px; border-bottom:1px dotted #dedede; padding-right:6px;}
.downlist li:hover{ background-color:#f5f5f5;}
.downlist li em{ float:right; color:#888; font-style:normal;}
.downlist li b{ color:#0e6a9a; font-weight:normal;}
.downlist li .downurl{ padding-left:12px; color:#f60;}
.downlist li .downurl a{ color:#f60;}
.downlist li .downurl a:hover{ color:#f60;}
