@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;-webkit-text-size-adjust:none;}
body{ background:#fff; font-size:12px; color:#666; font-family:Tahoma, Geneva, sans-serif; min-width:1100px;}

a{ color:#666; text-decoration:none;}
a:hover{ color:#cf2215; text-decoration:underline;}

img{ border:none;}
a img{ font-size:0;}
li{ list-style:none;}
input,select{ outline:none; color:#666;}
.blockimg a img{ display:block;}

.f_out{ color:#cf2215;}
a.f_out{ color:#cf2215;}
a.f_out:hover{ color:#cf2215;}

.f_sub{ color:#07c;}
a.f_sub{ color:#07c;}
a.f_sub:hover{ color:#cf2215;}

.f_blur{ color:#999;}

.f_through{ text-decoration:line-through}

.ft8{ font-size:8px;}
.ft10{ font-size:10px;}
.ft12{ font-size:12px;}
.ft14{ font-size:14px;}
.ft16{ font-size:16px;}
.ft18{ font-size:18px;}
.ft20{ font-size:20px;}
.ft22{ font-size:22px;}
.ft24{ font-size:24px;}
.ft26{ font-size:26px;}
.ft28{ font-size:28px;}

.ft_nor{ font-weight:normal;}
.ft_bold{ font-weight:bold;}

.ft_ver{ font-family:Verdana, Geneva, sans-serif;}
.ft_ari{ font-family:Arial, Helvetica, sans-serif;}
.ft_mic{ font-family:"微软雅黑",Arial, Helvetica, sans-serif;}
.ft_song{ font-family:"宋体";}

.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.clearall{ clear:both; font-size:0; line-height:0; height:0; overflow:hidden; visibility:hidden;}

.ta-l{ text-align:left;}
.ta-c{ text-align:center;}
.ta-r{ text-align:right;}

.w1100{ width:1100px; margin:0 auto;}

.w200{ width:200px;}
.w785{ width:785px;}
.w240{ width:240px;}
.w745{ width:745px;}
.w530{ width:530px;}
.w175{ width:175px;}


.mt6{ margin-top:6px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt13{ margin-top:13px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}

.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*sysipt*/
.sysipt{ border:1px solid #d1d1d1; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; background:url(../images/sysipt_bg.jpg) no-repeat left top;}
.sysipt:focus{ border:1px solid #0089da;}

/*通用*/
.generalTitBlack{ font-size:16px; font-family:Tahoma, "微软雅黑", Geneva, sans-serif; font-weight:normal; color:#333;}


/*headerm*/
.headerm{ height:79px; border-bottom:1px solid #cdd1d4;}
.header{ height:79px;}
.logo{ padding:11px 0 0 4px;}
.nav{ height:79px; margin-left:15px;}
.nav ul li{ height:79px; float:left; background:url(../images/nav_s.jpg) no-repeat right center; margin-right:-1px;}
.nav ul li a{ height:79px; line-height:79px; display:inline-block; padding:0 21px;}
.nav ul li a:hover,.nav ul li.cur a{ color:#000; text-decoration:none; border:1px solid #cdd1d4; border-top:none; border-bottom:none; background:#f7f7f7; padding:0 20px;}
.language{ line-height:79px; color:#bbb; padding-left:15px;}
.language a{ padding:0 15px; color:#888;}
.language a:hover{ color:#cf2215;}
.language a.cur{ color:#333;}
.language a.cur:hover{ color:#cf2215;}



/*footer*/
.footerm{ background:#f0f0f0; text-align:center; line-height:200%; padding:12px 0 20px; margin-top:15px;}